web/build/
web/.DS_*
web/*.log
web/logs
web/**/*.backup.*
web/**/*.back.*
web/node_modules
web/bower_componets
web/*.sublime*
web/psd
web/thumb
web/sketch
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/
/Godeps/
